<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Payex ICO</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="user_assets/css/style.css">
    <link rel="stylesheet" href="user_assets/css/responsive.css">

    <style>
        .buy-coin-sec .coin-select-box{
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}	
.buy-coin-sec .coin-select-box .img-coin {
    height: 55px;
    margin-right: 30px;
}
.buy-coin-sec .select-coin-box{
	width: 80%;
}
.buy-coin-sec .select-coin-box .btn-group.bootstrap-select{
	margin: 0 !important;
}
.buy-coin-sec .shadow-box{
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 10px;
	margin-bottom: 20px;
}	
.buy-coin-sec .step-box-list h6{
font-size: 20px;
}
.buy-coin-sec .step-box-list{
font-size: 14px;
}
.buy-coin-sec .step-box-list ol{
	padding-left: 15px;
}
.buy-coin-sec .align-items-center{
	align-items: center;
}
.buy-coin-sec .input-group.file-input{
	display: flex;
	align-items: center;
}
.buy-coin-sec .input-group.file-input .file-upload-btn {
    position: relative;
    height: auto;
    border-radius: 0;
    background-color: #0f3923;
    color: #fff;
    padding: 10px 30px;
}
.buy-coin-sec .input-group.file-input .file-upload-btn .file-upload {
    position: absolute !important;
    padding: 0;
    margin: 0;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    opacity: 0;
}
.buy-coin-sec form.contact-form .bootstrap-select > .dropdown-toggle {
    padding: 10px 20px !important;
}
.buy-coin-sec form.contact-form input, form.contact-form textarea {
    height: auto !important;
    padding: 10px 20px !important;
    line-height: 20px;
    margin-bottom: 15px;
}
.buy-coin-sec .form-control.file-upload-text {
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}
.buy-coin-sec .checkbox input[type=checkbox], 
.buy-coin-sec .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-top: 4px\9;
    width: 25px;
    height: 25px !important;
    margin: 0;
    top: 2px;
    left: 0;
}
.buy-coin-sec .btn-block{
	margin-top: 45px;
}
.buy-coin-sec{
	padding: 40px 0 !important;
}
.buy-coin-sec .checkbox{
	margin: 30px 0 10px;
}
.buy-coin-sec .checkbox a{
	color: #0f3923;
}

@media (max-width: 1300px) {
.buy-coin-sec .thm-container {
     padding-left: 30px;
    padding-right: 30px;
}


}

    </style>


</head>

<body class="active-preloader-ovh">

    <div class="preloader">
        <div class="spinner"></div>
    </div>



    <header class="header header-home-one">
        <nav class="navbar navbar-default header-navigation stricky">
            <div class="thm-container clearfix">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed bitmex-icon-menu" data-toggle="collapse"
                        data-target=".main-navigation" aria-expanded="false"> </button>
                    <a class="navbar-brand" href="/">
                        <img src="user_assets/img/logo.png" style="height: 85px;">
                    </a>
                </div>


                <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">

                    <ul class="nav navbar-nav navigation-box navbar-right">
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#news">News</a></li>
                        <li><a href="/#Calculator">Calculator</a></li>
                        <li><a href="/#how-it-works">How It Works</a></li>
                        <li><a href="/#our-experts">Our Experts</a></li>
                        <li><a href="/#contact-us">Contact Us</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container -->
        </nav>
    </header><!-- /.header -->



    <section class="contact-page-wrapper sec-pad buy-coin-sec">
        <div class="thm-container">
            <form class="contact-form row">
                <div class="row contact-form">
                    <div class="col-md-6">
                        <div class="coin-select-box mb-3">
                            <div>
                                <img src="user_assets/img/eth-icon.png" class="img-coin" alt="Bitcoin Icon">
                            </div>
                            <div class="select-coin-box">
                                <label>Coin</label>
                                <select name="topic" class="selectpicker">
                                    <option value="ICO Audit">ETH</option>
                                    <!-- <option value="ICO Audit">BNB</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="shadow-box step-box-list">
                            <h6 class="hbg my-2 text-left">5 step guide</h6>
                            <ol class="text-left four-step-list">
                                <li>Calculate how much tokens you want to buy.</li>
                                <li>Copy/Scan the displayed address</li>
                                <li>Send your TRX to that address. You may send it right from your exchange.</li>
                                <li>Upon transaction confirmation, please fill in your transaction details (Bitcoin
                                    Wallet address, Ethereum Wallet address and transaction ID) in the form. We need
                                    Ethereum wallet address so that we can transfer TOKEN coins to you.</li>
                                <li>Our team will verify the transaction and will send your TOKEN tokens within 48 hours
                                    which will be reflected in your wallet.</li>
                            </ol>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="shadow-box">
                            <label>Buy*</label>
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <input type="text" id="bidding" onchange="myChangeFunction(bidding)" placeholder="USD">
                                </div>
                                <div class="col-md-2 text-center">
                                    =
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="ethbidding" placeholder="ETH" readonly>
                                </div>
                            </div>
                            <div>
                                <!-- <h4><b>1 USD = 23 TRX</b></h4> -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <label>Client Wallet Address*</label>
                                            <input type="text" placeholder="0xF24a24Ab64a29edd50ACC655f4dd78360888A83e"
                                                readonly>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div>
                                            <label>Reference/Transaction ID</label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div> -->
                                </div>


                                <!-- <div>
                                    <label>Upload Screenshot</label>
                                    <div class="input-group file-input">
                                        <input type="text" class="form-control file-upload-text" disabled=""
                                            placeholder="select a file...">
                                        <button type="button"
                                            class="btn btn-common light-green file-upload-btn upload-btn p-0">
                                            Upload
                                            <input type="file" class="file-upload" data-rule-required="true"
                                                data-msg-required="Please upload Payment Screenshot"
                                                name="transactionImage" id="file-input-1" style="width: 0;"
                                                placeholder="No File Selected">
                                            <span class="input-group-btn">
                                            </span></button>

                                    </div>
                                </div> -->
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">

                                        I agree with <a href="">terms and conditions</a> of Carbon.
                                    </label>
                                </div>
                                <div class="btn-block">
                                    <!-- <button type="submit" class="thm-btn yellow-bg-hvr">Submit</button> -->
                                    <!-- <button class="enableEthereumButton btn">Enable Ethereum</button> -->
                                    <button class="enableEthereumButton sendEthButton btn thm-btn yellow-bg-hvr">Send Eth</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

	<div class="footer-top page-section" id="contact-us">
		<div class="thm-container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="single-footer-top">
						<p>
							<i class="bitmex-icon-envelope"></i><span>Email: </span>info@gmail.com
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="single-footer-top">
						<p>
							<i class="bitmex-icon-phone-call"></i><span>Call: </span>123 456
							789
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
					<div class="single-footer-top">
						<p>
							<i class="bitmex-icon-placeholder"></i><span>Address: </span>simply dummy text of the
							printing
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="site-footer">
		<div class="thm-container">
			<div class="row masonary-layout">
				<div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
					<div class="single-footer-widget text-center">
						<div class="title">
							<h3>Subscribe</h3>
						</div>
						<form action="inc/mailchimp/subscribe.php" class="subscribe-form">
							<input type="text" placeholder="Email Address" />
							<button type="submit" class="fa fa-telegram" style="font-size: 20px"></button>
						</form>
						<ul class="links-list">
							<li class="current"><a href="#">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#news">News</a></li>
							<li><a href="#Calculator">Calculator</a></li>
							<li><a href="#how-it-works">How It Works</a></li>
							<li><a href="#our-experts">Our Experts</a></li>
							<li><a href="#contact-us">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="footer-bottom">
		<div class="thm-container clearfix">
			<div class="pull-left copy-text">
				<p>&copy; 2021 Carboncoin.com All copy rights are reserved.</p>
			</div>
			<div class="social pull-right">
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-youtube-play"></a>
				<a href="#" class="fa fa-pinterest"></a>
			</div>
		</div>
	</div>

	<section class="hidden-sidebar side-navigation">
		<a href="#" class="close-button side-navigation-close-btn fa fa-times"></a>
		<div class="sidebar-content">
			<div class="social">
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-youtube-play"></a>
				<a href="#" class="fa fa-pinterest"></a>
			</div>
		</div>
	</section>

    <div class="scroll-to-top scroll-to-target" data-target="html"><i class="fa fa-angle-up"></i></div>

    <script src="user_assets/js/jquery.js"></script>

    <script src="user_assets/js/bootstrap.min.js"></script>
    <script src="user_assets/js/bootstrap-select.min.js"></script>
    <script src="user_assets/js/jquery.validate.min.js"></script>
    <script src="user_assets/js/owl.carousel.min.js"></script>
    <script src="user_assets/js/isotope.js"></script>
    <script src="user_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="user_assets/js/waypoints.min.js"></script>
    <script src="user_assets/js/jquery.counterup.min.js"></script>
    <script src="user_assets/js/wow.min.js"></script>
    <script src="user_assets/js/jquery.easing.min.js"></script>
    <script src="user_assets/js/particles.min.js"></script>
    <script src="user_assets/js/particles-config.js"></script>
    <script src="user_assets/js/Chart.min.js"></script>
    <script src="user_assets/js/chart-config.js"></script>
    <script src="user_assets/js/custom.js"></script>

    <script>
        $(document).ready(function () {
            $('ul.navigation-box li a').click(function () {
                $('ul.navigation-box li a').removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>

    <script>
        function initializeFileUploads() {
            $('.file-upload').change(function () {
                var file = $(this).val();

                var parts = file.split("\\");
                var lastpart = parts[parts.length - 1]
                //alert("file"+lastpart);
                $(this).closest('.input-group').find('.file-upload-text').val(lastpart);
            });
            $('.file-upload-btn').click(function () {
                $(this).find('.file-upload').trigger('click');
            });
            $('.file-upload').click(function (e) {
                e.stopPropagation();
            });
        }



        // On document load:
        $(function () {
            initializeFileUploads();
        });
    </script>
    <script>

        function myChangeFunction(bidding) {
            var ethbiddings = document.getElementById('ethbidding');
            ethbiddings.value = (bidding.value)*0.0002111
        }
    </script>
    <script>
        function decimalToHexString(number) {
            if (number < 0) {
                number = 0xFFFFFFFF + number + 1;
            }
            return number.toString(16).toUpperCase();
        }

        const ethereumButton = document.querySelector('.enableEthereumButton');
        const sendEthButton = document.querySelector('.sendEthButton');

        let accounts = [];

        //Sending Ethereum to an address
        sendEthButton.addEventListener('click', () => {
            getAccount();

            async function getAccount() {
                accounts = await ethereum.request({ method: 'eth_requestAccounts' });
            }
            var bid = document.getElementById("bidding").value;
            console.log(bid);
            ethereum
                .request({
                    method: 'eth_sendTransaction',
                    params: [
                        {
                            from: accounts[0],
                            to: '0xF24a24Ab64a29edd50ACC655f4dd78360888A83e',
                            value: decimalToHexString(bid * 0.0002111 * 10 ** 18),
                            gasPrice: '0x09184e72a000',
                            gas: '0x21000',
                        },
                    ],
                })
                .then((txHash) => console.log(txHash))
                .catch((error) => console.error);
        });


    </script>




</body>

</html>